@model KinneretCollegeTimeSheet.Models.Report

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Report</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
 
            <div class="form-group">
                <label asp-for="date" class="control-label"></label>
                <input asp-for="date" class="form-control" />
                <span asp-validation-for="date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="timeStart" class="control-label"></label>
                <input asp-for="timeStart" class="form-control" />
                <span asp-validation-for="timeStart" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="timeEnd" class="control-label"></label>
                <input asp-for="timeEnd" class="form-control" />
                <span asp-validation-for="timeEnd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="discription" class="control-label"></label>
                <input asp-for="discription" class="form-control" />
                <span asp-validation-for="discription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserCourseId" class="control-label"></label>
                <input asp-for="UserCourseId" class="form-control" />
                <span asp-validation-for="UserCourseId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

