@{
    ViewData["Title"] = "Contact";
}

<div style="margin:4%; direction:rtl; ">
    <h2>
        דרכי יצירת קשר
    </h2>
    <br />
    <address>
        טל': 04-6653732<br />
        פקס: 077-5653732<br />
        דוא"ל: Dekanat@kinneret.ac.il<br />
    </address>
</div>

