@{



    ViewData["Title"] = "Home Page";
}
<div class="text-primary" style="margin:4%; direction:rtl; border:groove; padding:4%">
    <p>
        שלום רב,<br />
        דיקנט הסטודנטים אמון על רווחת הסטודנטים ותומך בתהליך האקדמי של כל סטודנט וסטודנטית במכללה. מטרתנו לאפשר מערכת סיוע ענפה במגוון תחומים ובנוסף גם חוויה אישית מהנה ומפתחת בסביבת לימודית נעימה ומאפשרת. צוות הדיקנט פועל על מנת לסייע לסטודנט למצות את מלוא הפוטנציאל האישי שלו ללמידה והצטיינות וזאת תוך השתלבות בכלל הפעילויות הנערכות במכללה. דיקנט הסטודנטים מעורב בכל תחומי הלימודים והחיים במכללה. במשרדי הדיקנט פועל צוות מיומן ומקצועי הערוך להושיט עזרה בפתרון בעיות אישיות, חברתיות וכלכליות הנוגעות לחיי הסטודנט וזאת בתיאום עם היחידות האקדמיות והמנהליות במכללה כמו גם עם גורמי חוץ. דלת צוות הדיקנט פתוחה לכל פנייה,
    </p>
    <p>בהצלחה בלימודים</p>
</div>

