@model RegisterViewModel
@{
    ViewData["Title"] = "הוספת חונך";
}

<h2>@ViewData["Title"]</h2>

<div class="container">
    
    

    <form id="myForm" class="container">

        @Html.TextBoxFor(model => model.Email, new { @class = "form-control", @placeholder = "Email" })

        @Html.TextBoxFor(model => model.CertificateID, new { @class = "form-control", @placeholder = "ID" })

        <a href="#" id="btnSubmit" class="btn btn-success btn-block"><span>Save</span></a>
    </form>

    <div style="text-align:center;display:none" id="loaderDiv">
        @*<img src="~/Content/InternetSlowdown_Day.gif" width="150" />*@
    </div>

</div>


<script>

    $(document).ready(function () {

        $("#btnSubmit").click(function () {

            //$("#loaderDiv").show();

            var myformdata = $("#myForm").serialize();

            $.ajax({

                type: "POST",
                url: "/Users/RegisterAsync",
                data: myformdata,
                success: function () {
                    $("#loaderDiv").hide();
                    $("#myModal").modal("hide");
                    window.location.href = "/Users";

                }

            })
        })

    })


</script>

